<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.berkeley.bid.cs160.opus"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="12" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:logo="@drawable/tabu_small" android:name="TabuApplication">
        <activity android:name=".TabuActivity"
                  android:label="@string/app_name" android:theme="@style/OpusActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" android:label="Welcome!" android:theme="@style/OpusActionBar"></activity>
        <activity android:name=".CameraSample" android:label="Take a picture!" android:theme="@style/OpusActionBar"></activity>
        <activity android:name=".ArcadeActivity" android:label="China" android:theme="@style/OpusActionBar"></activity>
        <activity android:name=".MainActivity" android:label="Main Menu" android:theme="@style/OpusActionBar"></activity>
        <activity android:name=".ProfileActivity" android:label="Profile" android:theme="@style/OpusActionBar"></activity>
        <activity android:name=".LevelActivity" android:label="Level" android:theme="@style/OpusActionBar"></activity>
        <activity android:name=".InviteActivity" android:label="Invite Friends" android:theme="@style/OpusActionBar"></activity>
        <activity android:name=".SelectCountryActivity" android:label="Select a Country" android:theme="@style/OpusActionBar"></activity>
        <activity android:name=".OpusActivity" android:theme="@style/OpusActionBar"></activity>
    </application>
</manifest>
